<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-1">BetanDeal CMS.<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans %}Dashboard{% endtrans %}</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Users
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
           aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span>
        </a>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Users Types:</h6>
                <a class="collapse-item" href="/users/admin">Admin</a>
                <a class="collapse-item" href="/users/list">Users</a>
                <a class="collapse-item" href="/users/bookies">Bookies</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/users/terms-and-conditions">
            <i class="fas fa-fw fa-file"></i>
            <span>Terms & Conditions</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Clients
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/clients">
            <i class="fas fa-fw fa-business-time"></i>
            <span>Clients</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clients/editor">
            <i class="fas fa-fw fa-code"></i>
            <span>Clients Editor</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/categories">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>Categories</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <div class="sidebar-heading">
        Campaigns
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="/campaigns/list">
            <i class="fas fa-fw fa-ad"></i>
            <span>Campaigns List</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/campaigns/list-active">
            <i class="fas fa-fw fa-user-cog"></i>
            <span>Active Campaigns</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/campaigns/marketing">
            <i class="fas fa-fw fa-adversal"></i>
            <span>Marketing Campaigns</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Stats
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStats"
           aria-expanded="true" aria-controls="collapseStats">
            <i class="fas fa-fw fa-chart-line"></i>
            <span>Stats</span>
        </a>

        <div id="collapseStats" class="collapse" aria-labelledby="headingStats" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/stats/users">Users</a>
                <a class="collapse-item" href="/stats/clients">Clients</a>
                <a class="collapse-item" href="/stats/countries">Countries</a>
                <a class="collapse-item" href="/stats/clicks">Clicks</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/stats/syncronize">
            <i class="fas fa-fw fa-cogs"></i>
            <span>Stats Sync</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/competency">
            <i class="fas fa-fw fa-buysellads"></i>
            <span>Competency</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Money
    </div>

    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvoicing"
           aria-expanded="true" aria-controls="collapseInvoicing">
            <i class="fas fa-fw fa-cash-register"></i>
            <span>Invoicing & Cash</span>
        </a>

        <div id="collapseInvoicing" class="collapse" aria-labelledby="headingStats" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/invoicing/info">Invoicing Info</a>
                <a class="collapse-item" href="/invoicing/payments">Payment Method</a>
                <a class="collapse-item" href="/invoicing/commisions">Commisions</a>
                <a class="collapse-item" href="/invoicing/invoices">Invoices</a>
                <a class="collapse-item" href="/invoicing/transfers">Users Transfer</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounting">
            <i class="fas fa-fw fa-euro-sign"></i>
            <span>General Accounting</span></a>

    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Others
    </div>

    </li>
    <li class="nav-item">
        <a class="nav-link" href="/site-creator">
            <i class="fas fa-fw fa-globe"></i>
            <span>SiteCreator</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/custom-links">
            <i class="fas fa-fw fa-link"></i>
            <span>Custom Links</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>News</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/news/public">
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Public News</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/faqs">
            <i class="fas fa-fw fa-question-circle"></i>
            <span>FAQ's</span></a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        PremiumPay
    </div>
    <li class="nav-item">
        <a class="nav-link" href="/premiumpay/admin">
            <i class="fas fa-fw fa-ad"></i>
            <span>Admin</span></a>
    </li>
  <!-- Sidebar Message -->
</ul>